    /* CONFIG */

:root {
    --Gray: #cccccc;
    --Red: red;
    --White: #ffffff;
}

    /* PRIMEIRA PARTE */

.Banner {
    width: 100%;
}

.Title-Principal {
    padding-left: 20px;
    
}

.Principal {
    background: var(--Gray);
    padding: 30px;
}

.Title-Centralizado {
    text-align: center;
}

p {
    text-align: center;
}

.Missão {
    font-size: 20px;
}

em strong {
    color: var(--Red);
}

    /* SEGUNDA PARTE */

.itens {
    font-style: italic;
}

.Benefícios {
    background: var(--White);
    padding: 20px;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.ImagemBenefícios {
    width: 50%;
}