header {
    background: var(--Gray);
    padding: 20px 0;
}

.Caixa {
    position: relative;
    width: 940px;
    right: 0;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: var(--Black);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .Caixa {
        width: auto;
    }

    .Caixa h1 {
        text-align: center;
    }

    .Caixa img {
        width: 150px;
    }

    nav {
        position: static;
    }
}