.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../svg/Menu.svg);
    background-repeat: no-repeat; background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--Branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Container {
    display: flex;
    align-items: center;
}

.Container__Imagem {
    padding: 1em;
}

.Lista-Menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.Container__Botao:checked ~ .Lista-Menu {
    display: block;
}

.Lista-Menu__Titulo, .Lista-Menu__Item {
    padding: 1em;
    background-color: var(--Branco);
}

.Lista-Menu__Titulo {
    color: var(--Laranja);
    font-weight: 700;
}

.Lista-Menu__Link {
    background: var(--Azul-Degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.Container__Botao {
    display: none;
}

.Container_Titulo, .Opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .Container_Titulo {
        font-family: var(--Font-Secundaria);
        font-size: 30px;
    }

    .Container_Titulo {
        font-weight: 400;
        display: block;
    }

    .Container_Titulo-Negrito {
        font-weight: 700;
    }

    .Opcoes {
        display: flex;
    }

    .Opcoes_Item {
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--Black);
    }

    .Opcoes_Link {
        text-decoration: none;
        color: var(--Black);
    }

    .Container_Imagem-Transparent, .cabeçalho_menu-hamburguer {
        display: none;
    }

    .Opcoes_Botao:checked ~ .Lista-Menu {
        display: block;
        width: auto;
    }

    .Opcoes_Botao {
        display: none;
    }
}