@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(../css/Header.css);
@import url(../css/Banner.css);
@import url(../css/Carrossel.css);
@import url(../css/Topicos.css);
@import url(../css/Contato.css);
@import url(../css/Rodape.css);

:root {
    --CordeFundo: #EBECEE;
    --Branco: #ffffff;
    --Laranja: #EB9B00;
    --Black: rgb(0, 0, 0);
    --Azul-Degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --Azul: #002F52;
    --Cinza: #474646;
    --Cinza-Claro: #858585; 

    --Font-Principal: 'Poppins', sans-serif;
    --Font-Secundaria: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--CordeFundo);
    font-family: var(--Font-Principal);
    font-size: 16px;
    font-weight: 400;
}   