:root {
    --Gray: #bbbbbb;
    --Gray02: #cccccc;
    --Gray3: #555555;
    --Black: #000000;
    --OrangeYellow: #c78C19;
    --DarkOrange: darkorange;
    --Green: #088C19;
    --White: #ffffff;
}

header {
    background: var(--Gray);
    padding: 20px 0;
}

.Caixa {
    position: relative;
    width: 940px;
    right: 0;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: var(--Black);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: var(--OrangeYellow);
    text-decoration: underline;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 40px 0;
}
.Copyright {
    color: var(--White);
    font-size: 13px;
    margin: 20px;
}


main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.Input-Padrão {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.Checkbox {
    margin: 20px 0;
}

.Enviar {
    width: 40%;
    padding: 15px 0;
    background: var(--OrangeYellow);
    color: var(--White);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.Enviar:hover {
    background: var(--DarkOrange);
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
    
}

thead {
    background: var(--Gray3);
    color: var(--White);
    font-weight: bold;
}

td, th {
    border: 1px solid var(--Black);
    padding: 8px 15px;
}